body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
  
  .big-text {
    font-size: 70px;
    font-weight: 900;
  }
  .med-text {
    font-size: 40px;
  }
  .normal-text {
    font-size: 20px;
  }
  .small-text {
    font-size: 14px;
  }
  
  /* HEADER */
  
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1350px;
  }
  
  .logo {
    padding: 10px;
    font-size: 30px;
   z-index: 1;
    color: white;
    min-width: 250px;
  }
  .menu {
    width: 100%;
    z-index: 0;
  }
  
 
  
  .menu li {
    display: inline-block;
  }
  .menu a {
    display: inline-block;
    text-decoration: none;
    width: 80px;
    padding: 20px;
    font-size: large;
    text-align: center;
    color: white;
  }
  .menu a:hover {
   background-color: royalblue;
  }
  .menuHamb {
    display: none;
  }
  
  /* Hero */
  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
      url("./images/screen.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
  }
  
  /* box valute exchange*/
  .container {
    width:100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;

  }
  .container p {
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    height: 20px;

  }
  .container select {
    margin-bottom: 20px;
  }
 
  
  select {
    text-align-last: center;
    width: 120px;
    border-radius: 6px;    
    height: 60px;
    text-align: center;
    outline: none;
    font-size: 20px;
    color: blueviolet;
    font-weight: 600;    
   
  }
  
  input {
    width: 120px;
    border-radius: 6px;
    height: 60px;
    outline: none;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .rate{  
  padding: 10px;
  width: 180px;

  
 

  
  }
 
  
  /*media query */
  
  @media (max-width: 780px) {
    .big-text {
      font-size: 38px;
    }
    .menu {
      background-color: rebeccapurple;
      padding-top: 80px;
      height: 100vh;
      position: absolute;
      right: -100%;
      top: 0;
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .openHamb {
      right: 0;
    }
  
    .menu li {
      display: block;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
    }
    .menuHamb {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 40px;
      right: 30px;
    }
    .menuHamb span {
      background: #fff;
      height: 3px;
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
    .menu a:hover {   
      border-bottom: none;
      width: 100%;
    }
    select,
    input {
      max-width: 80px;
      max-height: 50px;
      font-size: 15px;
    }
  }
  .container p {
    font-size: medium;
  }

  @media (max-width: 780px) {
    .big-text {
      font-size: 30px;
    }
    h1{
      font-size: 28px;
    }
    .hero__content{
      font-size: medium;
    }
   
  


  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  